name: npm-cache
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Cache node modules
        id: myCacheStep
        uses: actions/cache@v2
        env: 
         cache-name: cache-node-modules
        with: 
         path: ~/npm 
         key: ${{ runner.os }}-build-${{ env.cache-name}}
         restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name}}
               
      - name: Install dependencies 
        if: steps.myCacheStep.outputs.cache-hit !='true'
        run: npm install 
         
         

